<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.mapper.PublicTpt.PublicTrain_DatailBoardMapper">
    <select id="publicTrain_select_trainstts" resultType="com.travel.vo.PublicTpt.PublicTrain_TrainSttsVO">
        select pt.nodeid , pt.nodename, ct.trainstts , ct.Lat , ct.Lng, ct.major from publictpt_trainsttnlist pt 
        inner join crawling_trainsttnlist ct on pt.nodename = ct.region;
    </select>

    <insert id="publicTrain_insert_RouteResult">
        insert into publictpt_resultroute (adultcharge, arrplacename,depplacename,traingradename)
        select #{adultcharge},#{arrplacename},#{depplacename},#{traingradename} from dual
        where not exists
        (select * from publictpt_resultroute where adultcharge = #{adultcharge} and arrplacename = #{arrplacename} and depplacename = #{depplacename} and traingradename = #{traingradename});
    </insert>
</mapper>