<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.mapper.Weather.Weather_DetailBoardMapper">

    <select id="weather_select_nxny" resultType="com.travel.vo.Weather.Weather_SearchNxNyVO">
        select * from weather_latlng where sido = #{sido} and gubun = #{gubun} 
        <if test='dong != null'>
        and dong like #{dong} limit 1;
        </if>
    </select>

    <select id="weather_select_code" resultType="com.travel.vo.Weather.Weather_CodeVO">
        select * from weather_codeinfo where fcstcode = 1;
    </select>
</mapper>