#suggestion_area{
    display: inline-block; vertical-align: top;
}
#suggestion_travel {
    display: inline-block; vertical-align: top;
}

/* .region_confirm_area {overflow-y: scroll;} */
#suggestion1_table {font-size: 12px; width: 100%; font-family: "Noto Sans KR", sans-serif;
}
#suggestion1_table td {width: 30.33%; text-align: center;
padding: 10px 0; border: 1px solid #eee;}
#suggestion1_table thead td {background-color: #999; color: #fff;}
#suggestion1_table tbody td:last-child {color: rgb(255, 60, 60);}
.suggestion1_pager_area {font-size: 12px; text-align: center;
margin-top: 10px;}
.suggestion1_pager_area .current {font-weight: 700;}

.suggestion1_tbody {display: none;}
.suggestion1_tbody.active {display: table-row-group;}

.item_img_scroll_area{
    display: inline-block; vertical-align: top;
}
.img_scroll {
    display: inline-block; vertical-align: top;
    width: 600px; height: 630px;
    overflow: hidden; position: relative;
    /* overflow-y: auto; */
}
.img_scroll div {
    position: absolute; left: 100%;
    animation: fadein 5s;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.img_scroll div:first-child {left: 0;}
.img_indicator_area {
    text-align: center;
}
.img_indicator_area {width: 600px; margin-top: 10px;}
.img_indicator_area .indicator {
    width: 8px; height: 8px; vertical-align: middle;
    display: inline-block; border-radius: 10px;
    background-color: #999;
    margin:3px;
}

.img_indicator_area .indicator.current {background-color: #333;}
/* .HashTag {white-space: pre-line;} */

.map_wrap {
    display: inline-block; vertical-align: top;
    margin-left: 30px;
}
.RandTG_detail {background-color: #fff;}