#suggestion_area{
    display: inline-block; vertical-align: top;
}
#suggestion_travel {
    display: inline-block; vertical-align: top;
}
#suggestion_gallery_area {
    display: inline-block; vertical-align: top;
}
#map_area {
    display: inline-block; vertical-align: top;
}