<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.mapper.TravelGalleryMapper">
    <select id="tg_select_rand" resultType="com.travel.vo.TravelGalleryVO">
        select * from travel_gallery where not regexp_like(galHashTag,'음식|한식') 
        <if test='sido != null'>
        and galSido like #{sido}
        </if> 
        order by rand() limit 10;
    </select>
</mapper>